
<!DOCTYPE html>

<html>

<head>
{% extends "base.html" %}
{% block method_content %}
{% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'itmsapp/home.css' %}" />



</head>
<body>

<br><br><br><br><br>


<h2> Know your IT infrastructure here </h2>

<form class="cs" action="/itms/" method="post">
    {% csrf_token %}
    {{ form }}
    <input class="submit" type="submit" value="Submit" />
</form>

<br><br>

{% if latest_resource_list %}



   {% if resource_name == "networks" %}
<h2>Networks: </h2>
<table style="width:100%">
  <tr>
         <th>Range </th>
         <th>Gateway </th>
         <th>Netmask </th>
         <th>DHCP Server</th>
         <th>DNS Server</th>
         <th>DHCP Range</th>
         <th>Firewall Server</th>
         <th>Network Type</th>
         <th>Other Information</th>
  </tr>

   {% for resource in latest_resource_list %}
  <tr>
         <td>{{ resource.range }}</td>
         <td>{{ resource.gateway }}</td>
         <td>{{ resource.netmask }}</td>
         <td>{{ resource.dhcp_server }}</td>
         <td>{{ resource.dns_server }}</td>
         <td>{{ resource.dhcp_range  }}</td>
         <td>{{ resource.firewall_server }}</td>
         <td>{{ resource.network_type }}</td>
         <td>{{ resource.other_info  }}</td>
  </tr>
   {% endfor %}

</table>
         <td>{{ resource.  }}</td>
   {% elif resource_name == "network_types" %}
<h2>Network Types: </h2>
<table style="width:100%">
  <tr>
         <th>Name</th>
         <th>Other Info</th>

  </tr>

   {% for resource in latest_resource_list %}
  <tr>
         <td>{{ resource.name }}</td>
         <td>{{ resource.other_info }}</td>

  </tr>
   {% endfor %}

</table>

   {% elif resource_name == "bare_metal_servers" %}
<h2>Bare Metal Servers: </h2>
<table style="width:100%">
  <tr>
         <th>IP Address</th>
         <th>Storage Capacity</th>
         <th>Cpus</th>
         <th>RAM</th>
         <th>Location</th>
         <th>Network </th>
         <th>Other Info</th>

  </tr>

   {% for resource in latest_resource_list %}
  <tr>
         <td>{{ resource.ip }}</td>
         <td>{{ resource.storage_capacity }}</td>
         <td>{{ resource.cpus }}</td>
         <td>{{ resource.ram }}</td>
         <td>{{ resource.location }}</td>
         <td>{{ resource.network  }}</td>
         <td>{{ resource.other_info }}</td>
  </tr>
   {% endfor %}

</table>

   {% elif resource_name == "vms" %}
<h2>Virtual Machines: </h2>
<table style="width:100%">
  <tr>
         <th>Name</th>
         <th>IP Address</th>
         <th>Network</th>
         <th>Username</th>
         <th>Password</th>
         <th>Cloud ID</th>
         <th>Assigned To</th>
         <th>Other Info</th>

  </tr>

         {% for resource in latest_resource_list %}
  <tr>
         <td>{{ resource.name }}</td>
         <td>{{ resource.ip }}</td>
         <td>{{ resource.network }}</td>
         <td>{{ resource.username }}</td>
         <td>{{ resource.password }}</td>
         <td>{{ resource.cloud_id  }}</td>
         <td>{{ resource.assigned_to }}</td>
         <td>{{ resource.other_info }}</td>
  </tr>
   {% endfor %}

</table>
   {% elif resource_name == "clouds" %}
<h2>Clouds:</h2>
<table style="width:100%">
  <tr>
         <th>Name</th>
         <th>Cloud Type</th>
         <th>Nodes</th>
         <th>Networks</th>
         <th>Assigned to project</th>
         <th>Other Info</th>

  </tr>

   {% for resource in latest_resource_list %}
  <tr>
         <td>{{ resource.name }}</td>
         <td>{{ resource.cloud_type }}</td>
         <td>{{ resource.nodes }}</td>
         <td>{{ resource.networks }}</td>
         <td>{{ resource.assigned_to_project }}</td>
         <td>{{ resource.other_info  }}</td>

  </tr>
   {% endfor %}

</table>

   {% elif resource_name == "cloud_types" %}
<h2>Cloud Types: </h2>
<table style="width:100%">
  <tr>
         <th>Name</th>
         <th>Other Info</th>

  </tr>

   {% for resource in latest_resource_list %}
  <tr>
         <td>{{ resource.name }}</td>
         <td>{{ resource.other_info }}</td>
  </tr>
   {% endfor %}

</table>
   {% elif resource_name == "managers" %}
<h2>Managers: </h2>
<table style="width:100%">
  <tr>
         <th>Name</th>

  </tr>

   {% for resource in latest_resource_list %}
  <tr>
         <td>{{ resource.name }}</td>

  </tr>
   {% endfor %}

</table>
   {% elif resource_name == "projects" %}
<h2>Projects: </h2>
<table style="width:100%">
  <tr>
         <th>Project Name</th>
         <th>Manager</th>
  </tr>

   {% for resource in latest_resource_list %}
  <tr>
         <td>{{ resource.name }}</td>
         <td>{{ resource.manager }}</td>

  </tr>
   {% endfor %}

</table>
   {% elif resource_name == "device_types" %}
<h2>Device Types: </h2>
<table style="width:100%">
  <tr>
         <th>Device Type Name</th>

  </tr>

   {% for resource in latest_resource_list %}
  <tr>
         <td>{{ resource.name }}</td>

  </tr>
   {% endfor %}

</table>
   {% elif resource_name == "devices" %}
<h2>Devices </h2>
<table style="width:100%">
  <tr>
         <th>Device Type</th>
         <th>Model</th>
         <th>Other Information</th>
         <th>AssignedTo</th>
  </tr>

   {% for resource in latest_resource_list %}
  <tr>
         <td>{{ resource.device_type }}</td>
         <td>{{ resource.model_name }}</td>
         <td>{{ resource.other_info }}</td>
         <td>{{ resource.assigned_to }}</td>

  </tr>
   {% endfor %}

</table>
    {% endif %}

{% endif %}


{% endblock method_content %}
</body>
</html>