ul.h_bar {
    font-size: 20;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #006666;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    height: 70px;

}

ul.h_bar li {
    float: left;

}

ul.h_bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 150%;
}


ul.h_bar li a:hover {
    background-color: #4CAF50;
}
